.chat-main__message.clearfix
  .chat-main__message-name 岡山和樹
  .chat-main__message-date 2019/01/30 07:07:20
  .chat-main__message-body 寒すぎて泣けてくる

.chat-main__message.clearfix
  .chat-main__message-name 岡山和樹
  .chat-main__message-date 2019/01/30 07:07:20
  .chat-main__message-body 寒すぎて泣けてくる

.chat-main__message.clearfix
  .chat-main__message-name 岡山和樹
  .chat-main__message-date 2019/01/30 07:07:20
  .chat-main__message-body 寒すぎて泣けてくる

.chat-main__message.clearfix
  .chat-main__message-name 岡山和樹
  .chat-main__message-date 2019/01/30 07:07:20
  .chat-main__message-body 寒すぎて泣けてくる

.chat-main__message.clearfix
  .chat-main__message-name 岡山和樹
  .chat-main__message-date 2019/01/30 07:07:20
  .chat-main__message-body 寒すぎて泣けてくる

.chat-main__message.clearfix
  .chat-main__message-name 岡山和樹
  .chat-main__message-date 2019/01/30 07:07:20
  .chat-main__message-body 寒すぎて泣けてくる

.chat-main__message.clearfix
  .chat-main__message-name 岡山和樹
  .chat-main__message-date 2019/01/30 07:07:20
  .chat-main__message-body 寒すぎて泣けてくる

.chat-main__message.clearfix
  .chat-main__message-name 岡山和樹
  .chat-main__message-date 2019/01/30 07:07:20
  .chat-main__message-body 寒すぎて泣けてくる
