* {
  box-sizing: border-box;
}


html, body {
  height: 100%;
  background-color: #FAFAFA;
}

#notification {
  width: 100vm;
  height: 24px;
  background-color: #38AEF0;
  #notice {
    text-align: center;
    color: #fff;
  }
}

#chat-side {
  float: left;
  width: 300px;
  height: 100%;
  background-color: #2f3e51;
  #chat-side__user{
    height: 118.5px;
    width: 100%;
    background-color: #253141;
    line-height: 118.5px;
    #chat-side__user-name {
      font-size: 16px;
      font-weight: bold;
      color: $color-side;
      display: inline-block;
      margin-left: 20px;
      text-align: left;
    }
    #chat-side__user-icon {
      display: inline-block;
      margin-right: 20px;
      float: right;
      #chat-side__icon {
        text-decoration: none;
        i {
          color: #ffffff;
        }
      }
    }
  }
  #chat-side__groups {
    width: 100%;
    a {
      text-decoration: none;
      #chat-side__group {
        width: 100%;
        height: 114px;
        background-color: #2f3e51;
        #chat-side__group-name {
          font-size: 15px;
          color: $color-side;
          padding: 15px 20px 5px 20px;
        }
        #chat-side__group-message {
          font-size: 11px;
          color: $color-side;
          padding: 0 20px;
        }
      }
      #chat-side__group:hover {
        background: rgba(47, 62, 81, 0.5);
      }
    }
  }
}

#chat-main {
  float: right;
  width: calc(100vw - 300px);

  #chat-main__header {
    height: 118.5px;
    border-bottom: 1px solid #eeeeee;
    background-color: #ffffff;
    padding: 0 40px;
    #chat-main__header-group {
      font-size: 20px;
      color: #333333;
      padding-top: 35px;
      padding-bottom: 15px;
    }
    #chat-main__header-name {
      font-size: 12px;
      color: $color-sub;
    }
    a {
      #chat-main__header-edit {
        font-size: 14px;
        text-decoration: none;
        line-height: 40px;
        font-weight: 400;
        color: #38aef0;
        padding: 0 20px;
        border: 3px solid #38aef0;
        display: inline-block;
        position: absolute;
        top: 28px;
        right: 40px;
      }
    }
  }

  #chat-main__body {
    width:100%;
    height: 141px;
    background-color: #FAFAFA;
    padding: 0 40px;
    #chat-main__message-name {
      font-size: 16px;
      font-weight: bold;
      color: $color-main;
      padding-top: 46px;
      padding-bottom: 10px;
      display: inline-block;
    }
    #chat-main__message-date {
      font-size: 12px;
      color: $color-sub;
      padding-left: 10px;
      vertical-align: center;
      display: inline-block;
    }
    #chat-main__message-body {
      font-size: 14px;
      color: $color-main;
      padding-bottom: 40px;
    }
  }
}

#chat-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - 300px);
  height: 90px;
  background-color: #434a54;
  line-height: 90px;
  #chat-footer__text-form {
    height: 50px;
    width: 945px;
    margin-left: 45px;
  }
  #chat-footer__submit-btn {
    font-weight: 400px;
    background-color: #38AEF0;
    color: #ffffff;
    font-size: 16px;
    line-height: 50px;
    padding: 0 30px;
    display: inline-block;
    margin-right:40px;
    border: 1px solid #38AEF0;
  }
}
